
<div class="box clearfix">
   <div class="form-box styled-select">
    <h1>Contact Page</h1>
    <form>
        <input type="text" id="full-name" placeholder="full name">
        <input type="text" id="email" placeholder="email">
        <input type="text" id="subject" placeholder="subject">
        <input type="textarea" id="message" placeholder="message">        
        <input type="submit" id="send" value="Send Data">

    </form>
                         

    <div class="feedback"></div>
</div>
</div>
