
<div class="box clearfix">
    <h1>The Value of Money</h1>
    <figure>
        <img src="./img/value_money.png" alt="value of money">
        <figcaption>Fiat is a questionable system</figcaption>
    </figure>
    <p>Compounding is the process where the value of an investment increases because the earnings on an investment, both capital gains and interest, earn interest as time passes. This exponential growth occurs because the total growth of an investment along with its principal earn money in the next period. This differs from linear growth, where only the principal earns interest each period.<br>
    The time value of money (TVM) is the idea that money available at the present time is worth more than the same amount in the future due to its potential earning capacity. This core principle of finance holds that, provided money can earn interest, any amount of money is worth more the sooner it is received. TVM is also referred to as present discounted value.
    <br>
    Depending on the exact situation in question, the TVM formula may change slightly. For example, in the case of annuity or perpetuity payments, the generalized formula has additional or less factors. But in general, the most fundamental TVM formula takes into account the following variables.<br>
    ref: http://www.investopedia.com/terms/t/timevalueofmoney.asp

    </p>

    </div>


<div class="box clearfix gmo">
    <h1>GMO Food</h1>
    <figure>
        <img src="./img/gmo_food.png" alt="value of money">
        <figcaption>Could GMO, be the answer?</figcaption>
    </figure>
    <p>In a few years, you could be eating the next generation of genetically altered foods — potatoes that do not turn brown or soybeans with a healthier mix of fatty acids.<br>

    And you may have no idea that something is different, because there may be no mention on the labeling even after a law passed by Congress last year to disclose genetically modified ingredients takes effect.<br>

    A new generation of crops known as gene-edited rather than genetically modified is coming to the market. Created through new tools that snip and tweak DNA at precise locations, they, at least for now, largely fall outside of current regulations.<br>

    Unlike older methods of engineering genes, these techniques, like Crispr, so far have generally not been used to add genes from other organisms into the plants.<br>

    The federal Agriculture Department has asked companies to advise it of their plans. But once the companies submit data to show the agency that the gene edits do not introduce foreign genes from plant pests into the crops, the agency is giving businesses the green light.</p>
        
</div>


<div class="box clearfix view">
    <h1>The View of World in 2100</h1>
    <figure>
        <img src="./img/world_in_2100.png" alt="value of money">
        <figcaption>A World without Fuel</figcaption>
    </figure>
    <p>The UN expects population growth to continue to gradually level off. Global population is almost sure to rise in the short term but the UN says there is a 1 in 4 chance that the world population will stabilize or fall before 2100.<br>

    How accurate are these predictions? In the past, the UN has had a pretty good track record with its population predictions, as In 1948 it projected world population would be around 6 billion in 2000, only less than five percent off from what it was that year, Khokar points out.<br>

    As the saying goes, past performance is no guarantee. There are a few factors that could skew these results. One that the UN mentions in its report is how fast the birth rate falls in countries where women currently have a lot of kids. The UN is expecting fertility to fall substantially, but that will hinge on things like investments in women’s health and expanded access to birth control.

</p>
    
</div>